
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.image-title {
    max-width: 80vw;
}

#imgjogo {
  width: 10vw;
}

.historyButton {
  width: 270px;
  height: 40px;
  font-size: 15px;
  font-weight: bolder;
}
