:root {
  --size: 5vw
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: var(--size);
  font-weight: bold;
  line-height: 34px;
  height: var(--size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--size);
  max-width: 9vh;
  max-height: 9vh;
}

.square:focus {
  outline: none;
}

@media only screen and (max-width: 426px) {
 .square {
   line-height: 0;
 }
}
